@import '../../mixins';

.header {
	width: 100%;

	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}

.box {
	max-width: 276px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	@include media ('tablet') {
		flex-direction: row;
		justify-content: space-between;
		max-width: none;
		align-items: center;
		padding-top: 16px;
	}
}

.logo {
	display: flex;
	align-items: center;
	margin-top: 20px;
	color: #28a745;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 38px;
	gap: 8px;
	@include media ('tablet') {
		margin-top: 0;
		font-size: 35px;
line-height: 48px;
	}
}

.text {
	color: white;
	margin-left: 8px;
	
}

.list {
	display: flex;
	justify-content: center;
	gap: 12px;
	margin-top: 16px;
	@include media ('tablet') {
		margin-top: 0;
		font-size: 18px;
line-height: 25px;
gap: 20px;
	}

}

.item {
	font-family: 'Open Sans';
	font-size: 16px;
	line-height: 22px;
	color: white;
}
