.section {
    background: #333333;
    padding: 20px 0;
}

.iconBox {
    display: flex;
    justify-content: center;
    gap: 25px;
   
}

.copirate{
    font-family: 'Open Sans';
font-size: 16px;
line-height: 22px;
color: #ffffff;
text-align: center;
margin-top: 12px;
}

.icon {
    color: #ffffff;
    width: 35px;
    height: 35px;
    cursor: pointer;
	&:hover,
	&:focus {
		color: #28A745;
	}
}